.g-btn {
  padding: 0;
  /*margin: 0;*/
  outline: none;
  border: none;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background: none
}

.g-btn:before {
  border: 3px solid #dcdcdc;
  border-top: 3px solid #3d02ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  content: " ";
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all .15s ease
}

.g-btn_wrap {
  position: relative;
  font-size: 14px;
  line-height: 1.45;
  font-weight: 700;
  min-height: 45px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 12px 20px 8px;
  color: #333;
  border: none;
  background-color: transparent;
  transition: all .15s ease, transform .2s ease-in-out;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.g-btn_wrap:hover {
  box-shadow: 0 5px 45px rgba(0, 0, 0, .7);
  transform: scale(1.03)
}

.g-btn_wrap:active {
  transform: scale(1);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  transition: none
}

.g-btn_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  content: " ";
  display: block;
  background: -webkit-radial-gradient(center, ellipse cover, #f62979 0, #00c7f2 50%);
  transition: width .4s ease-in-out, height .4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%
}

.g-btn:hover .g-btn_background {
  width: 225%;
  height: 800px
}

.g-btn:hover .g-btn_wrap {
  background-color: rgba(51, 51, 51, .1)
}

.g-btn:active .g-btn_wrap {
  background-color: rgba(51, 51, 51, .15)
}

.g-btn-primary .g-btn_wrap {
  color: #fff;
  border-color: #fe1251;
  background-color: #00c7f2
}

.g-btn-primary:hover .g-btn_wrap {
  background-color: #00c7f2
}

.g-btn-primary:active .g-btn_wrap {
  border-color: #fe1247;
  background-color: #00c7f2
}

.g-btn-primaryOutline .g-btn_wrap {
  color: #fe1251;
  border: 2px solid #00c7f2;
  background-color: transparent
}

.g-btn-primaryOutline:hover .g-btn_wrap {
  background-color: rgba(0, 201, 254, 0.1)
}

.g-btn-primaryOutline:active .g-btn_wrap {
  color: #fe1247;
  border-color: #00c7f2;
  background-color: rgba(0, 201, 254, .15)
}

.g-btn-small .g-btn_wrap {
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px
}

.g-btn-white .g-btn_wrap {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent
}

.g-btn-white:hover .g-btn_wrap {
  background-color: hsla(0, 0%, 100%, .1)
}

.g-btn-white:active .g-btn_wrap {
  background-color: hsla(0, 0%, 100%, .15)
}

.g-btn-loading .g-btn_wrap {
  opacity: .5
}

.g-btn-centred {
  width: 100%;
  display: block;
  text-align: center
}

.g-btn-centred .g-btn_wrap {
  -ms-flex-pack: center;
  justify-content: center;
}

.g-btn-fullWidth {
  width: 100%
}

.g-btn-disabled, .g-btn:disabled {
  opacity: .5;
  cursor: not-allowed
}